html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', 'sans-serif';
}

a {
  text-decoration: none;
}