@import 'utils/vars';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@import 'modules/carousel.scss';
